<template name="appLayout">
  <style type="text/css">
  .bar.bar-stable {
    background-color: {{favColor}}; 
    border-color: {{favColorDarker}}; 
  }
  </style>

  {{#ionBody}}
    {{> ionNavBar}}

    {{#ionNavView}}
      {{> yield}}
    {{/ionNavView}}

    {{#if isAndroid}}
      {{#ionTabs style="android"}}
        {{> ionTab title="Wedstrijden" path="competitions.list" icon="android-star"}}
        <!-- {{> ionTab title="Recent" path="recent" icon="android-time"}}
        {{> ionTab title="Notifications" path="notifications" icon="android-notifications"}} -->
        {{> ionTab title="Profiel" path="profile" icon="android-happy"}}
      {{/ionTabs}}
    {{else}}
      {{#ionTabs style="ios"}}
        {{> ionTab title="Wedstrijden" path="competitions.list" iconOff="ios-bolt-outline" iconOn="ios-bolt" class="tab-item-positive"}}
        <!-- {{> ionTab title="Recent" path="recent" iconOff="ios-clock-outline" iconOn="ios-clock" class="tab-item-positive"}}
        {{> ionTab title="Notifications" path="notifications" iconOff="ios-bell-outline" iconOn="ios-bell" class="tab-item-positive"}} -->
        {{> ionTab title="Profiel" path="profile" iconOff="ios-person-outline" iconOn="ios-person" class="tab-item-positive"}}
      {{/ionTabs}}
    {{/if}}
  {{/ionBody}}
</template>