<template name="CompetitionsList">
  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear" data-ion-popover="_filterCompetitions">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='more'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{title}}</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      {{#ionList}}
        {{#if less}}
        {{#ionItem iconLeft=false class="loadPast" start=less}}
          <button class="button button-clear button-block">Laad eerdere wedstrijden</button>
        {{/ionItem}}
        {{/if}}
        {{#each competitions}}
          {{#if this.text}}
            <div class="item item-divider {{class}}">{{text}}</div>
          {{else}}
            {{> _competitionItem competition=this}}
          {{/if}}
        {{/each}}
        {{#if more}}
        {{#ionItem iconLeft=false class="loadFuture" end=more}}
          <button class="button button-clear button-block">Laad volgende wedstrijden</button>
        {{/ionItem}}
        {{/if}}
      {{/ionList}}

    {{/ionContent}}
  {{/ionView}}
</template>

<template name="_competitionItem">
  {{#with competition}}
    {{#ionItem route="competitions.show" iconLeft=false iconRight=true buttonRight=true textWrap=true}}
      <h2>{{name}}</h2>
      <p>{{venue.address.city}}, {{datef starts}} - {{onlytime ends starts}}</p>
      <p><span class="inline-icon">{{> ionIcon icon="edit" }}</span> {{subscribeText}}</p>
      <p><span class="inline-icon">{{> ionIcon icon="speedometer" }}</span> {{distanceText}}</p>
      {{#if showButton}}
        <p><button class="button button-positive button-small button-block">Inschrijven</button></p>
      {{/if}}       
      {{> ionIcon icon="ios-arrow-right" }} 
    {{/ionItem}}
  {{/with}}
</template>