<template name="CompetitionsShow">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-positive"}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear" data-ion-popover="_filterCompetitions"> Subscribe
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='more'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Wedstrijd</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      {{#ionList class="competition-contents"}}
        {{#ionItem iconRight=false}}
          <h2>{{name}}</h2>
          <p>Van {{date starts}} {{time starts}} tot {{onlytime ends starts}}</p>
        {{/ionItem}}
        {{#ionItem iconRight=false}}<p>Locatie: {{venue.name}}, {{venue.address.city}}, {{venue.address.stateOrProvince}}</p>{{/ionItem}}

        {{#if extra}}
          {{#ionItem iconRight=false}}<p>Opmerkingen:</p><p>{{extra}}</p>{{/ionItem}}
        {{/if}}

        {{#ionItem iconRight=false}}
          <h2><span class="inline-icon">{{> ionIcon icon="speedometer" }}</span> {{distanceText}}</h2>

          <h2 class="title"><span class="inline-icon">{{> ionIcon icon="edit" }}</span>
          {{#if subscribeStatus.isOpen}}
            Inschrijven, inschrijving sluit op {{date settings.closes}} {{time settings.closes}}
          {{/if}}
          {{#if subscribeStatus.willOpen}}
            Inschrijving is open van {{date settings.opens}} tot {{onlytime settings.closes settings.opens}}
          {{/if}}
          {{#if subscribeStatus.isClosed}}
            Inschrijving gesloten
          {{/if}}
          </h2>

          {{#if showButton}}
            <a class="button button-positive button-block" href="{{subscribeUrl}}">Open inschrijvingsformulier</a>
          {{else}}
            <a class="button button-block" href="{{viewUrl}}">Bekijk online</a>  
          {{/if}}
        {{/ionItem}}
      {{/ionList}}
    {{/ionContent}}

  {{/ionView}}
</template>